<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.SystemRoleMapper">

    <select id="getSystemRolePage" parameterType="map" resultType="com.example.backend.entity.SystemRole">
        <include refid="getRoleListFragment" />
    </select>
    <select id="getSystemRoleList" parameterType="map" resultType="com.example.backend.entity.SystemRole">
        <include refid="getRoleListFragment" />
    </select>
    <sql id="getRoleListFragment">
        SELECT * FROM system_role
        <where>
            <if test="query.id != null">
                AND id = #{query.id}
            </if>
            <if test="query.roleName != null and query.roleName != ''">
                AND role_name LIKE concat('%',#{query.roleName},'%')
            </if>
        </where>
    </sql>

</mapper>
